*.parquet


__pycache__/
*.py[codz]
*$py.class
terraform_sa.json
notes
.gcp/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hc

.env

.terraform/
*.tfstate*
__pycache__/
.venv/
node_modules/
*.parquet
*.csv
examples*
logs/
.env
airflow.db

target/
dbt_packages/
logs/
profiles.yml
.bruin.yml
logs/runs
logs/*.log
*.py[cod]